.photo-grid__button {
  background-image: url(../../../images/heart.svg);
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
}

.photo-grid__button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.photo-grid__button:active {
  opacity: 0.2;
}