.lead__caption-container {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  justify-content: end;
}

.lead__caption-container:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 1023px) {
  .lead__caption-container {
    justify-content: center;
  }
}